.responsive-img{
    width: auto;
    /* max-width: 500px; */
    max-height: 150px;
    /* height: auto; */
}

.height-alert{
    height: 50px;
}

.row-card {
    background-color:rgb(168, 191, 253);
}

