<!-- Agregar *ngIf si no existen mascotas -->
<div class="clr-row">
  <div class="clr-col-12">
    <h1>
      Mascotas para adoptar
    </h1>
    <div class="clr-row">
      <div class="clr-col-12">
        <button class="btn btn-outline" routerLink="/mascotas-agregar">AGREGAR
          MASCOTA</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="hayMascotas()" class="clr-row clr-justify-content-center">
  <div class="clr-col">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Edad</th>
          <th>Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mascota of mascotas">
          <td>{{mascota.nombre | titlecase}}</td>
          <td>{{mascota.tipo | titlecase}}</td>
          <td>{{mascota.edad}}</td>
          <td>{{mascota.descripcion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!hayMascotas()" class="clr-row clr-justify-content-center">
  <div class="clr-col-4">
    <h2>No hay mascotas actualmente</h2>
    <img alt="Panda feliz" class="responsive" src="assets/img/panda.png">
  </div>
</div>