<clr-modal *ngIf="basic" role="dialog" [(clrModalOpen)]=" basic" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">Atencion</h3>
  <div class="modal-body">
    <p>¿Estas seguro que quieres eliminar la mascota {{mascotaSeleccionada.nombre}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="delete()">Ok</button>
  </div>
</clr-modal>
<div class="clr-row">
  <div class="clr-col-12">
    <h1>
      Mascotas para adoptar
    </h1>
    <div class="clr-row">
      <div class="clr-col-12">
        <button class="btn btn-outline" routerLink="/mascotas-editar/new">AGREGAR
          MASCOTA</button>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="hayMascotas()" class="clr-row clr-justify-content-center"> -->
<clr-datagrid>
  <clr-dg-column>Nombre</clr-dg-column>
  <clr-dg-column>Tipo</clr-dg-column>
  <clr-dg-column>Edad</clr-dg-column>
  <clr-dg-column>Descripcion</clr-dg-column>
  <clr-dg-column>Acciones</clr-dg-column>

  <clr-dg-row *ngFor="let mascota of mascotas">
    <clr-dg-cell>{{mascota.nombre | titlecase}}</clr-dg-cell>
    <clr-dg-cell>{{mascota.tipo | titlecase}}</clr-dg-cell>
    <clr-dg-cell>{{mascota.edad}}</clr-dg-cell>
    <clr-dg-cell>{{mascota.descripcion | firstLetterUpperCase}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group full-width">
        <button [routerLink]="['/mascotas-editar', mascota.id]" class="btn btn-icon btn-primary">
          <clr-icon shape="pencil" class="is-solid"></clr-icon>
        </button>
        <button class="btn btn-icon btn-danger" type="button" (click)="openModal(mascota)"
          [clrLoading]="getValidateBtnState(mascota.id)" id="mascota.id">
          <clr-icon shape="trash" class="is-solid"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{mascotas.length}} mascotas en la base de datos</clr-dg-footer>
</clr-datagrid>
<app-mascotas-not-found *ngIf="!hayMascotas()"></app-mascotas-not-found>