<clr-modal *ngIf="basic" role="dialog" [(clrModalOpen)]=" basic" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">Atencion</h3>
  <div class="modal-body">
    <p>¿Estas seguro que quieres eliminar la mascota {{mascotaSeleccionada.nombre}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="delete()">Ok</button>
  </div>
</clr-modal>
<div class="clr-row">
  <h1>
    Mascotas para adoptar
  </h1>
</div>
<br />
<div class="clr-row">
  <button title="Agregar mascota" class="btn btn-outline" routerLink="/mascotas-editar/new">AGREGAR
    MASCOTA</button>
</div>
<clr-datagrid>
  <clr-dg-placeholder *ngIf="!hayMascotas()">No hay mascotas en la base de datos</clr-dg-placeholder>
  <clr-dg-column [clrDgField]="'nombre'">Nombre</clr-dg-column>
  <clr-dg-column [clrDgField]="'tipo'">Tipo</clr-dg-column>
  <clr-dg-column [clrDgField]="'edad'" [clrDgColType]="'number'">Edad</clr-dg-column>
  <clr-dg-column [clrDgField]="'descripcion'">Descripcion</clr-dg-column>
  <clr-dg-column>Acciones</clr-dg-column>
  <!-- *clrDgItems similar al *ngFor pero nos permite ordenar, paginar, dentro de un datagrid -->
  <clr-dg-row *clrDgItems="let mascota of mascotas">
    <clr-dg-cell>{{mascota.nombre | titlecase}}</clr-dg-cell>
    <clr-dg-cell>{{mascota.tipo | titlecase}}</clr-dg-cell>
    <clr-dg-cell>{{mascota.edad}}</clr-dg-cell>
    <clr-dg-cell>{{mascota.descripcion | firstLetterUpperCase}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group full-width">
        <button title="Editar" [routerLink]="['/mascotas-editar', mascota._id]" class="btn btn-icon btn-primary">
          <clr-icon shape="pencil" class="is-solid"></clr-icon>
        </button>
        <button title="Eliminar" class="btn btn-icon btn-danger" type="button" (click)="openModal(mascota)"
          [clrLoading]="getValidateBtnState(mascota._id)" id="mascota._id">
          <clr-icon shape="trash" class="is-solid"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{mascotas.length}} mascotas en la base de datos</clr-dg-footer>
</clr-datagrid>